<% content_for(:title, "Skills/Languages") %>

<h1>Skills/Languages</h1>

<ul>
  <% @skills.each do |skill| %>
  <li><%= link_to skill.name, skill_path(skill) %></li>
  <% end %>
</ul>

<nav>

<p><%= link_to "Add a skill", new_skill_path(@skill) %></p>
</nav>
